html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}
p{margin-bottom:0.5rem;
}
body {
    margin-bottom: 60px;
}
h1{font-size:1.7rem;}
.tagsBlock {
    font-size:12px;
}
    .tagsBlock > div {
        padding: calc(var(--bs-gutter-x) * .3) calc(var(--bs-gutter-x) * .3);
    }

    .tagsBlock > div>div {
        padding: 12px;
        border: 1px solid #d1d1d1;
        border-radius: 5px;
        height:100%;
    }

        .tagsBlock > div > div>div {
            display: flex;
            color: gray;
        }

            .tagsBlock > div > div>div > a {
                text-decoration: none;
                padding: 5px 6px;
                margin: 2px 2px 2px 0;
                background-color: #edf5fd;
                border-radius: 3px;
            }

                .tagsBlock > div > div>div > a:hover {
                    background-color: #dfedfb;
                }

            .tagsBlock > div > div > div > p {
                font-size: 13px;
                -webkit-line-clamp: 4;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

                .tagsBlock > div > div>div > p:hover {
                    color: black;
                }
            .tagsBlock > div > div>div>div{
                text-align:center;
            }

            .top-questions {
                padding: 12px;
                font-size: 13px;
            }
.top-questions p{margin:3px 3px;}

    .top-questions > div {
        border-bottom: 1px solid gray;
        padding: 15px 5px;
        display: block;
    }
        .top-questions > div > div>div:nth-child(3){
            color:gray;
            display:flex;
            align-items:flex-end;
        }
            .top-questions > div > div>div:nth-child(3) > a {
                text-decoration: none;
                margin-right:5px;
            }

.qstns-list > div:nth-child(1) {
    font-size: 17px;
}
    .qstns-list > div:nth-child(1) > a {
        text-decoration: none;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
.qstns-list > div:nth-child(2){
    margin:5px 0;
}
.qstns-list > div:nth-child(2) > a {
    text-decoration: none;
    padding: 3px 4px;
    margin: 0 5px;
    background-color: #edf5fd;
    border-radius: 3px;
}

    .qstns-list > div:nth-child(2) > a:hover {
        background-color: #dfedfb;
    }

.usr-list{font-size:12px;}
    .usr-list>div{
        padding:12px;
    }
    .usr-list img {
        width: 50px;
        height: auto;
        border-radius: 5px;
        max-width: 50px;
        max-height: 50px;
    }
.usr-list div span{
    font-weight:600;
}
.usr-list a {
    text-decoration: none;
    font-size:15px;
}
.usr-list > div > div  div  {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.q-author img{
    width:32px;
    height:32px;
    max-width:32px;
    max-height:32px;
    border-radius:5px;
}
.q-author {
    font-size: 13px;
}
    .q-author a{
        text-decoration:none;
    }
    .q-date p {
        font-size: 13px;
        margin: 0;
    }
.q-date p span {color:gray;}
.after-descr {
    background-color: hsl(43.64deg 84.62% 94.9%);
    padding: 13px;
    font-size: 13px;
}
    .after-descr > div {
        margin:auto;
    }
        .after-descr > div p{
            margin:0;
            color:gray;
        }
            .after-descr > div p span{color:black;}
            .after-descr > div:nth-child(1) > a {
                font-size: 13px;
                color: gray;
            }
        .after-descr > div:nth-child(1) > a:hover {
            color: black;
        }
.q-ans{
    padding:3%;
}
.btn-txt {
    margin: auto;
}

    .btn-txt span {
        color: white;
        text-decoration: none;
        font-size: 13px;
    }
.q-img {
    width: 20px;
    height: 20px;
    max-height: 20px;
    max-height: 20px;
    border-radius: 3px;
    margin:0 5px 0 0;
}
.form-group .btn.btn-primary{
    margin:10px 0;
}
.form-group .control-label{
    margin:10px 0;
    font-weight:600;
}
.ans-demo {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.qst-answ-list .col, .col-auto{
    margin:auto;
}
.search-form{display:inline-flex;}
.search-form input{margin-right:5px;}
.show-rating{
    font-size:16px;
    font-weight:600;
    text-align:center;
}
.answ-checked {
    background: url("/img/sys/check-mark.svg") no-repeat center;
}
.like-rating-btn {
    width: 25px;
    height: 25px;
    text-align: center;
    background: url("/img/sys/like.svg") no-repeat;
}
.dislike-rating-btn {
    width: 25px;
    height: 25px;
    text-align: center;
    background: url("/img/sys/dislike.svg") no-repeat;
}

.row.q-ans > .col-auto div {
    width: 25px;
    height: 25px;
    text-align:center;
}
.row.q-ans > .col-auto button, .answ-checked {
    background-size: 25px;
}
.answered-bg-grad {
    background: linear-gradient(to right, #0d6efd33, #ffc0cb00);
}