@page
@model CodeAnswers.Areas.Identity.Pages.Account.Manage.ProfileModel

@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Profile;
}
<p>Имя пользователя: <strong>@Model.Users.Name</strong></p>
<p>Почта: <strong>@Model.Users.Email</strong></p>
<p>Дата регистрации: <strong>@Model.Users.RegistrationDate</strong></p>
<p>Репутация: <strong>@Model.Users.Rating.Total</strong></p>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <input type="hidden" asp-for="Users.Id"/>
             <input type="hidden" asp-for="Users.Name" />
             <input type="hidden" asp-for="Users.Email" />
             <input type="hidden" asp-for="Users.Rating.Total" />
             <input type="hidden" asp-for="Users.RegistrationDate" />
            <div class="form-group">
                <label asp-for="Users.Location" class="control-label"></label>
                <input asp-for="Users.Location" class="form-control" />
                <span asp-validation-for="Users.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.LinkSocial" class="control-label"></label>
                <input asp-for="Users.LinkSocial" class="form-control" type="url" />
                <span asp-validation-for="Users.LinkSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.LinkGithub" class="control-label"></label>
                <input asp-for="Users.LinkGithub" class="form-control" type="url"/>
                <span asp-validation-for="Users.LinkGithub" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <label asp-for="Users.About" class="control-label"></label>
                <textarea id="ckeditor" asp-for="Users.About" class="form-control"></textarea>
                <span asp-validation-for="Users.About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

