@using CodeAnswers.ViewModels
@model QuestionCreateViewModel

@{
    ViewData["Title"] = "Задать новый вопрос";
}

<h1>Задать вопрос</h1>

<h4>Сформулируйте свой вопрос</h4>
<hr />

<div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="QuestionTitle" class="control-label">Заголовок</label>
            <input asp-for="QuestionTitle" class="form-control"/>
            <span asp-validation-for="QuestionTitle" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="QuestionDescription" class="control-label">Описание проблемы</label>
            <textarea asp-for="QuestionDescription" class="form-control" id="ckeditor"></textarea>
            <span asp-validation-for="QuestionDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TagsId" class="control-label">Выбери несколько тегов</label>
            <select asp-for="TagsId" class="form-control"
                    asp-items="ViewBag.tagsList"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

