@model CodeAnswers.Models.Questions

@{
    ViewData["Title"] = "Редактирование вопроса";
}

<h1>Редактирование вопроса</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PublicationDate" />
            <input type="hidden" asp-for="ModifiedDate" />
            <input type="hidden" asp-for="Rating" />
            <input type="hidden" asp-for="AuthorId" />
            <input type="hidden" asp-for="Answered" />
            <div class="form-group">
                <label asp-for="Title" class="control-label">Заголовок</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание вопроса</label>
                <textarea asp-for="Description" class="form-control" id="ckeditor"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

